/*#loader{
	display: none;
	width: 100px;
	height: 100px;
	background: url('loader.GIF');
	position: absolute;
}*/
div[title='Кадастр']{
	float: left;
}
#loader{
  display: none;
  background-image: url(map-loader.gif);
  background-size: 23px;
  height: 23px;
  width: 23px;
  float: right;
}

.cadastreLeftMenuLabel
{
	margin-Left: 3px;
}
.cadastreLeftMenuRow
{
	height: 19px;
}
.cadastreLeftMenuContainer
{
	margin: 10px 25px 10px 30px;
}
.cadastreLegendImage
{
	height: 16px;
}
.cadastreLegendImageColumn
{
	width: 20px
}
.inactive
{
	color: #666666;
}
/*#tableInfo tr{
	text-align: left;
}*/

#tableInfo th {
     /*background: #ccc;*/
     text-align: left;
}
#tableInfo tbody tr td {
	padding-left:15px;
}
/*#tableInfo td, th {
     border: 1px solid #800; 
     padding: 4px; 
    } */